<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!--<add key="UploadPath" value="\\\\centene.com\\data\\qra_datax_p\\Prod\\ToCentene\\HealthEC\\Data"/>
    <add key="ArchievePath" value="C:\\In Development\\In Development\\EMRSolution\\EMRCoreService\\ArchieveFolder"/>
    <add key="LogsPath" value="C:\\In Development\\In Development\\EMRSolution\\EMRCoreService\\Logs"/>
    <add key="GoAPiUrl" value="https://emr.ckp-dev.centene.com/v1/emr"/>-->

    <add key="UploadPath" value="C:\Visam Laptop\xmlParasing-master\EMRSolution\EMRService\UploadFolder"/>
    <add key="ArchievePath" value="C:\Visam Laptop\xmlParasing-master\EMRSolution\EMRService\ArchieveFolder"/>
    <add key="LogsPath" value="C:\\In Development\\In Development\\EMRSolution\\EMRCoreService\\Logs"/>
    <add key="GoAPiUrl" value="https://emr.ckp-dev.centene.com/v1/emr"/>
  </appSettings>
</configuration>
